#tab{
    text-align: center;
}

table{
    
    border-collapse: collapse;
    margin:auto;
    width: 60%;

}
table, th, td{
    border-color: #000;
    padding: 10px;
}

#black{
    background-color: black;
    color: aliceblue;
}
#yellow{
    background-color: yellow;

}
#red{
    background-color: red;
}